<h1 class="loginTitle">Login</h1>

<%- messages() %>
    <div>
        <form>
            <fieldset>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <button type="submit">Login</button><br><br>
            </fieldset>
        </form>

        <p>Don't have an account? <a href="/account/register" id="registrationLink">Sign-up</a></p>
    </div>
    <!-- <script src="/js/script.js"></script> -->