<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Account Management View Message -->
        <%- messages() %>

            <%#- grid %>


                <!-- Account Management View Error Display -->
                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %> 


                        <!-- Vehicle Management View Display -->
                        <div class="AccountMgtContainer">
                            <h2> You're logged in.</h2> <%#- {account_firstname}%>
                            <h2> <a href="/account/Management" id="accountInfo">Edit Account Information</a> </h2>
                        </div>  