<h1 class="welcomeTitle">Welcome to CSE Motors!</h1>

<div class="heroImg">
    <img src="/images/vehicles/delorean.jpg" alt="delorean vehicles" width="800" height="350" loading="lazy" />

    <div class="herolabel">
        <!-- <h1><span>Abeokuta</span>Chamber of Commerce</h1> <br>  width="1000" height="400"  -->

        <div class="herolabel">
            <!-- <p><span id="herolb"> DMC Delorean</span> 3 Cup holders Superman doors Fuzzy dice!</p> -->
            <h2 id="herolb">DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <picture id="ownToday">
                <img src="/images/site/own_today.png" alt="own today" width="50" height="100" loading="lazy" />

            </picture>

        </div>
    </div>
</div>

<div class="dmcReviews">
    <section>
        <h2 id="reviewsTitle">DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!." (5/5)</li>
        </ul>
    </section>
</div>

<!-- <div  class="dUpgrades"> -->
<section class="dUpgrades">
    <h2 id="upgradesTitle">Delorean Upgrades</h2>
</section>
<!-- </div> -->

<section class="fluxCapacitor">
    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy" />
    <a id="fCapacitor" href="/">Flux Capacitor</a>
</section>

<section class="flameDecals">
    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" />
    <a id="fDecals" href="/">Flame Decals</a>
</section>

<section class="bumperStickers">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy" />
    <a id="bStickers" href="/">Bumper Stickers</a>
</section>

<section class="hubCaps">
    <img src="/images/upgrades/hub-cap.jpg" alt="hub Caps" loading="lazy" />
    <a id="hCaps" href="/">Hub Caps</a>
</section>

<!-- </div> -->

<!-- <h1>Peace Arikpo</h1> -->