<h1 class="welcomeTitle">Welcome to CSE Motors!</h1>

<div class="heroImg">
    <img src="/vehicles/delorean.jpg" alt="delorean vehicles" loading="lazy" />

    <div class="herolabel">
        <!-- <h1><span>Abeokuta</span>Chamber of Commerce</h1> <br>  width="1000" height="400"  -->
        <!-- <p><span id="herolb"> DMC Delorean</span> 3 Cup holders Superman doors Fuzzy dice!</p> -->
    </div>
</div>

<div>
    <section class="dmcReviews">
        <h2>DMC Delorean Reviews</h2>
        <ul >
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!." (5/5)</li>
        </ul>
    </section>

    <section class="dUpgrades">
        <h2>Delorean Upgrades</h2>
    </section>

    <section class="fluxCapacitor">
        <img src="public/images/upgrades/flux-cap.png" srcset="images/upgrades/flux-cap.png 500w, upgrades/flux-cap.png"
            alt="Flux Capacitor" loading="lazy" />
        <p>Flux Capacitor</p>
    </section>

    <section class="flameDecals">
        <img src="public/images/upgrades/flame.jpg" srcset="images/upgrades/flame.jpg 500w, upgrades/flame.jpg"
            alt="Flame Decals" loading="lazy" />
        <p>Flame Decals</p>
    </section>

    <section class="bumperStickers">
        <img src="public/images/upgrades/bumper_sticker.jpg"
            srcset="images/upgrades/bumper_sticker.jpg 500w, upgrades/bumper_sticker.jpg" alt="Bumper Stickers"
            loading="lazy" />
        <p>Bumper Stickers</p>
    </section>

    <section class="hubCaps">
        <img src="public/images/upgrades/hub-cap.jpg" srcset="images/upgrades/hub-cap.jpg 500w, upgrades/hub-cap.jpg"
            alt="hub Caps" loading="lazy" />
        <p>Hub Caps</p>
    </section>

</div>

<!-- <h1>Peace Arikpo</h1> -->