<h1 class="welcomeTitle">Welcome to CSE Motors!</h1>

<div class="heroImg">
    <div class="herolabel">
        <div class="herolabel">
            <h2 class="hero-heading">DMC Delorean</h2>
            <p class="hero-desc">3 Cup holders Superman doors Fuzzy dice!</p>
            <img id="ownToday" src="/images/site/own_today.png" alt="own today" width="170" height="50"
                loading="lazy" />
        </div>
    </div>
</div>

<div class="dmcReviews">
    <section>
        <h2 id="reviewsTitle">DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!." (5/5)</li>
        </ul>
    </section>
</div>

<section class="dUpgrades">
    <h2 id="upgradesTitle">Delorean Upgrades</h2>
</section>

<section class="fluxCapacitor">
    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy" /><br>
    <a id="fCapacitor" href="/">Flux Capacitor</a>
</section>

<section class="flameDecals">
    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" /><br>
    <a id="fDecals" href="/">Flame Decals</a>
</section>

<section class="bumperStickers">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy" /><br>
    <a id="bStickers" href="/">Bumper Stickers</a>
</section>

<section class="hubCaps">
    <img src="/images/upgrades/hub-cap.jpg" alt="hub Caps" loading="lazy" /><br>
    <a id="hCaps" href="/">Hub Caps</a>
</section>