<h1 class="welcomeTitle">Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="heroImg">
    <div class="herolabel">
        <div class="herolabel">
            <h2 class="hero-heading">DMC Delorean</h2>
            <h3 class="hero-desc">3 Cup holders Superman doors Fuzzy dice!</h3>
            <img id="ownToday" src="/images/site/own_today.png" alt="own today" width="170" height="50"
                loading="lazy" />
        </div>
    </div>
</div>

<div class="dmcReviews">
    <section>
        <h2 id="reviewsTitle">DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!." (5/5)</li>
        </ul>
    </section>
</div>


<!-- <section class="dUpgrades"id="upgradesTitle"> -->
    <h2 class="dUpgrades">Delorean Upgrades</h2>
<!-- </section> -->
<!-- <div> -->
<div class="fluxCapacitor">
    <img src="/images/upgrades/flux-cap.png" alt="Custom  Flux Capacitor for Your Vehicle" loading="lazy" /><br>
    <a id="fCapacitor" href="/">Flux Capacitor</a>
</div>

<div class="flameDecals">
    <img src="/images/upgrades/flame.jpg" alt="Custom Flame Decals for Your Vehicle" loading="lazy" /><br>
    <a id="fDecals" href="#">Flame Decals</a>
</div>

<div class="bumperStickers">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="Custom Bumper Stickers for Your Vehicle" loading="lazy" /><br>
    <a id="bStickers" href="/#">Bumper Stickers</a>
</div>

<div class="hubCaps">
    <img src="/images/upgrades/hub-cap.jpg" alt="Custom Hub Caps for Your Vehicle" loading="lazy" /><br>
    <a id="hCaps" href="#/d">Hub Caps</a>
</div>
<!-- </div> -->