/******* Change Box Model ***************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline:'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
}


/* Header styles */
#wrapper {
  margin: auto;
  background-color: #fff;
  border-radius: 1%;
  border: 3px solid #468189;
  padding: 15px;
  max-width: 960px;
  margin: 1em;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 960px;
}

header a {
  color: black;
  text-decoration: none;
}

.siteName {
  font-size: xx-large;
  font-style: var(--font-headline);
  display: flex;
  text-align: right;
  font-weight: bold;

}

#tool {
  font-size: medium;
  font-style: var(--font-headline);
}


/* Navigation styles */
nav {
  display: flex;
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  color: #fff;
  font-size: 15px;

}

.nav-links {
  flex: 1;
  text-align: center;
  max-width: 960px;

}

.nav-links ul li {
  list-style: none;
  display: inline-block; 
  padding: 2px 60px;
  position: relative;

}


main {
  max-width: 960px;
  display: grid;
  grid-template-rows: 4em 20em 4em 10em 10em auto;
  grid-template-columns: 240px 240px 440.01px;
  grid-gap: 20px;
}


/* Welcome to CSE Motors! */
.welcomeTitle {
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-left: 0;
}


.welcomeTitle {
  grid-column: 1/3;
  grid-row: 1
}

/* Welcome to CSE Motors! Ends */


.heroImg {
  grid-column: 1 / 4;
  grid-row: 2 / -6;
  height: 30em;
  width: 100%;
  object-fit: cover;
  max-width: 900px;
  margin: 0 auto;
  width: 700px;
  height: 350px;
  margin: auto;
  background: url("/images/vehicles/delorean.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.herolabel {
  grid-row: 2/3;
  grid-column: 1 / 2;
  text-align: left;
  color: hsl(140, 28%, 68%);
  width: 230px;
  background-color: rgba(238, 231, 231, 0.347);
  margin: 0;
}

.hero-heading {
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: xx-large;
}


.hero-desc {
  width: 100%;
  position: relative;
  margin: 5px;
  margin-bottom: 25px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #9b2226;
  line-height: 40px;
}

#ownToday {
  margin: auto;
}


/* DMC Delorean Reviews */
.dmcReviews {
  grid-row: 3/ -5;
  grid-column: 3 / 4;
}

.dmcReviews ul {
  padding: 1.5em;
  margin: 0;
  padding-top: 1em;
  font-size: larger;
}

.dmcReviews ul li {
  padding: 0.5em;
  margin-left: 0;
}

/* DMC Delorean Reviews Ends */


/* Delorean Upgrades */
.dUpgrades {
  grid-row: 3 / 4;
  grid-column: 1 / 3;


}


.fluxCapacitor {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  background-color: hsla(65, 23%, 82%, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 3px solid #468189;
  padding: 15px;

}

.flameDecals {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  background-color: hsla(65, 23%, 82%, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 3px solid #468189;
  padding: 15px;

}

.bumperStickers {
  grid-row: 5 / 7;
  grid-column: 1 / 2;
  background-color: hsla(65, 23%, 82%, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 3px solid #468189;
  padding: 15px;
}

.hubCaps {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  background-color: hsla(65, 23%, 82%, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 3px solid #468189;
  padding: 15px;
}



#fCapacitor,
#fDecals,
#bStickers,
#hCaps {

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* DMC Delorean Reviews Ends */


@media only screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
    background-image: url("/images/site/checkerboard.jpg");
  }

  footer {
    width: 100%;
    justify-items: left;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
  }

}
