<!-- This view will consist of three distinct sections: A content heading, a message, and the inventory items display. -->

<!-- The Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <%#- grid %>

                <!-- Vehicle Management View Display -->
                <div class="mgtContainer">
                    <!-- <form action="/inventory/management" method="post"> -->
                    <h2> <a href="/inv/add-Classification" id="addClassification">Add New
                            Classification</a> </h2>
                    <h2> <a href="/inv/add-Inventory" id="addVehicle">Add New Vehicle</a> </h2>
                    <!-- </form> -->

                </div>
                <!-- <script src="/js/script.js"></script> -->